.slide1 {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;
    background-position: center top;
    background-size: 100%;
}

.slide1 h1 {
    color: white;
}

mat-card {
    position: relative;
}

mat-card img {
    display: block;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.card-overlay mat-card-header,
.card-overlay mat-card-content {
    z-index: 1;
}

.card-overlay .placeholder-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    z-index: 0;
    transition: opacity 0.3s ease;
}